.inputs, .input-field{
  display: flex;
  flex-direction: column;
}

.input-field{
  margin-bottom: 16px;
}

input{
  flex: 1 1;
  box-sizing: border-box;
  height: 48px;
  border: 1px solid #CBD5E1;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1E293B;
  padding: 12px;
}

input::placeholder{
  color: #64748B;
}

input:focus-visible{
  outline: none;
  border-color: #3B82F6;
}

.submit-alert{
  text-align: center;
  margin:16px 0;
}

.form-bottom{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.form-bottom p,a{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1E293B;
}

.form-bottom a{
  color: #3B82F6;
  cursor: pointer;
}

.form-bottom a:hover{
  text-decoration: underline;
}

button{
  display: flex;
  box-sizing: border-box;
  height: 48px;
  background: #3B82F6;
  border: 1px solid;
  border-radius: 4px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin:24px auto 0;
  padding: 12px 40px;
  cursor: pointer;
  transition: 200ms;
}

button:hover, :disabled{
  opacity: .8;
}

button:not(:disabled):active{
  transform: scale(0.94);
  opacity: .7;
}

:host ::ng-deep .spinner-small {
  display: block;
  width: 32px;
  height: 32px;
  margin-top:24px;
}

:host ::ng-deep .p-progress-spinner-circle{
  stroke: #3B82F6;
  animation:none;
}

@media screen and (max-width: 576px){
  .input-field input{
    padding: 10px;
    font-size: 15px;
  }

  .input-field{
    margin-bottom: 12px;
  }

  button{
    margin-top: 16px;
    padding: 6px 32px;
    height: 40px;
    font-size: 14px;
  }

  .form-bottom p,a{
    font-size: 14px;
  }
}

