<ng-container *ngIf="(advertisements$ | async) as advertisements; else loading">
  <main>
    <div class="container animated">
      <div class="main-content">
        <h3>Случайные объявления</h3>
        <div class="advertisements">
          <advertisement-card *ngFor="let advertisement of advertisements"
                              [advertisement]="advertisement">
          </advertisement-card>
        </div>
      </div>
    </div>
  </main>
</ng-container>
<ng-template #loading>
    <p-progressSpinner strokeWidth="3"
                       animationDuration="1s"
                       styleClass="spinner"></p-progressSpinner>
</ng-template>
