<form [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="inputs">
    <div class="input-field">
      <app-phone-input formControlName="phone"></app-phone-input>
    </div>
    <div class="input-field">
      <input type="password"
             placeholder="Пароль"
             formControlName="password">
      <ng-container *ngIf="registerForm.controls.password.touched">
        <p class="alert"
           *ngIf="registerForm.controls.password.errors?.['required']">
          Введите пароль
        </p>
        <p class="alert"
           *ngIf="registerForm.controls.password.errors?.['minlength']">
          Минимальная длина пароля - 8 символов
        </p>
        <p class="alert"
           *ngIf="registerForm.controls.password.errors?.['maxlength']">
          Максимальная длина пароля - 24 символа
        </p>
      </ng-container>
    </div>
    {{registerForm.errors}}
    <div class="form-bottom">
      <a (click)="goToLogin()">Авторизоваться</a>
    </div>
  </div>
  <p class="alert submit-alert">{{error}}</p>
  <ng-container *ngIf="!isSubmitting; else loading">
    <button [disabled]="registerForm.invalid" type="submit">Зарегистрироваться</button>
  </ng-container>
  <ng-template #loading>
    <p-progressSpinner strokeWidth="3"
                       animationDuration="1s"
                       styleClass="spinner-small">

    </p-progressSpinner>
  </ng-template>
</form>
