<ng-container *ngIf="(categories$ | async) as categories">
  <div class="container animated">
    <h3>Новое объявление</h3>
    <form class="app-form"
          [formGroup]="advertisementForm"
          (ngSubmit)="createAdvertisement()">
      <div class="input-field">
        <label class="form-label">
          Выберите категорию
        </label>
        <app-category-input [categories]="categories" formControlName="categoryId"></app-category-input>
        <app-input-errors [control]="advertisementForm.controls.categoryId"></app-input-errors>
      </div>
      <div class="input-field">
        <label class="form-label">
          Название объявления
        </label>
        <input class="form-input input-big"
               placeholder="Что хотите продать?"
               formControlName="name">
        <app-input-errors [control]="advertisementForm.controls.name"></app-input-errors>
      </div>
      <div class="input-field">
        <label class="form-label">
          Описание
        </label>
        <textarea #textArea
                  class="form-input input-big"
                  placeholder="Расскажите подробнее о товаре или услуге"
                  formControlName="description" [maxlength]="descriptionMaxLength"></textarea>
        <div class="text-area-footer">
          <app-input-errors [control]="advertisementForm.controls.description"></app-input-errors>
          <small class="symbols-counter">{{textArea.value.length+'/'+descriptionMaxLength}}</small>
        </div>
      </div>
      <div class="input-field">
        <label class="form-label">
          Адрес (место проведения сделки)
        </label>
        <app-address-input formControlName="address"></app-address-input>
        <app-input-errors [control]="advertisementForm.controls.address"></app-input-errors>
      </div>
      <div class="input-field">
        <app-image-upload formControlName="images"></app-image-upload>
      </div>
      <div class="input-field">
        <label class="form-label">
          Цена
        </label>
        <input class="form-input"
               [allowNegativeNumbers]="false"
               type="text"
               mask="separator"
               separatorLimit="9999999"
               suffix=" ₽"
               placeholder="0 ₽"
               formControlName="price">
      <app-input-errors [control]="advertisementForm.controls.price"></app-input-errors>
      </div>
      <ng-container *ngIf="!isLoading; else loading">
        <button [disabled]="advertisementForm.invalid" class="submit">Разместить объявление</button>
      </ng-container>
      <ng-template #loading>
        <p-progressSpinner strokeWidth="3"
                           animationDuration="1s"></p-progressSpinner>
      </ng-template>
      <p class="alert">{{error}}</p>
    </form>
    <p class="rules">Нажимая кнопку «Разместить объявление»<br>
      Вы соглашаетесь с <a>правилами площадки</a></p>
  </div>

</ng-container>
