h3{
  margin:32px 0 24px;
}

.text-area-footer{
  display: flex;
  justify-content: space-between;
}

.symbols-counter{
  margin-top:6px;
  color: #64748B;
}

span{
  color: #EF4444;
}

.input-field{
  margin-bottom: 12px;
}

textarea{
  font-family:'Inter', sans-serif;
  min-height: 168px;
  resize: none;
}

button, .upload-btn{
  color: white;
  background: #3B82F6;
  border-radius: 4px;
  transition:200ms;
  cursor:pointer;
}

button:hover, .upload-btn:hover{
  opacity: .8;
}

.submit{
  border:none;
  font-size: 18px;
  margin-top:8px;
  padding: 12px;
}

.submit:disabled{
  opacity: .8;
}

.rules{
  font-size: 14px;
  line-height: 20px;
  color: #64748B;
  margin: 8px 0 32px;
}

.rules a{
  text-decoration: none;
  color: #3B82F6;
  cursor:pointer;
}

.rules a:hover{
  text-decoration: underline;
}

:host ::ng-deep .p-cascadeselect{
  display: flex;
  max-width: 416px;
  border-radius: 4px;
  margin-bottom: 0;
}

:host ::ng-deep .p-inputtext{
  font-family: 'Inter', sans-serif;
}

:host ::ng-deep form p-progressSpinner .p-progress-spinner{
  width: 32px;
  height: 32px;
  margin: 0 12px;
}

::ng-deep .ng-invalid.ng-touched > .p-cascadeselect{
  border-color:#EF4444;
}

::ng-deep .p-cascadeselect:not(.p-disabled).p-focus{
  box-shadow: none;
  border-color: #3B82F6;;
}

.new-add-link{
  margin-left:16px;
  color: black;
}

.new-add-link a{
  color: #3B82F6;
}

.new-add-link a:hover{
  text-decoration: underline;
}

@media screen and (min-width:576px) and (max-width: 992px){
  :host ::ng-deep p-cascadeSelect p-overlay .p-overlay{
    min-width: 208px!important;
  }
}

@media screen and (max-width: 576px){
  :host ::ng-deep .p-cascadeselect-label{
    font-size: 15px;
  }

  :host ::ng-deep .p-cascadeselect{
    max-width: 100%;
  }

  .submit{
    font-size: 15px;
    padding: 8px 12px;
  }
}

@media screen and (max-width: 1256px){
  :host ::ng-deep p-cascadeSelect .p-cascadeselect-item-active>.p-cascadeselect-sublist{
    left:0;
    top:90%;
  }
}
