header {
  background: #1E293B;
  padding: 8px 0;
}

nav
{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sign-in {
  height: 32px;
  background: transparent;
  margin-right: 12px;
}

.logout{
  color: #EF4444;
}

.person-img {
  margin-right: 10px;
}

.new-add {
  height: 32px;
  background: #3B82F6;
}

.new-add img {
  margin-left: 9px;
}

.arrow-img
{
  margin-left: 5px;
}

p-overlay a{
  font-size:14px;
  line-height:20px;
  text-align:right;
  padding: 8px 16px;
  cursor:pointer;
  transition: 200ms;
}

p-overlay a:hover{
  background: #f3f3f3;
}

:host ::ng-deep .p-overlay-content{
  display: flex;
  flex-direction: column;
  max-width: 147px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  transform: translateX(-30px);
  overflow: hidden;
}

@media screen and (max-width: 576px){
  :host ::ng-deep .p-overlay-content{
    transform:translateX(0);
  }

  .sign-in span{
    display:none;
  }
}
