h3{
  margin-top: 32px;
}

form{
  margin-bottom: 48px;
}

.inputs{
  display: flex;
  flex-wrap: wrap;
  gap: 0 24px;
}

span{
  color: #64748B;
}

.input-field{
  flex: 1 1 316px;
}


.input-big{
  max-width: 100%;
}

.submit{
  display: flex;
  align-items: center;
  margin-top: 24px;
}

button{
  border-color: transparent;
  border-radius: 4px;
  background: #3B82F6;
  color: white;
  margin-right: 24px;
  padding: 12px 24px;
  cursor: pointer;
  transition: 200ms;
}

button:is(:hover, :active):not(:disabled){
  opacity: .8;
}

button:disabled{
  cursor: auto;
  opacity: .6;
}

.submit-success{
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #22C55E;
}

.submit-success img{
  margin-right: 8px;
}

@media screen and (max-width: 576px){
  input{
    font-size: 15px;
    padding: 8px;
    height: 40px;
  }

  button{
    padding: 8px 20px;
  }

  h3{
    margin: 12px 0;
  }

  .submit{
    margin-top: 0;
  }
}
