<ng-container *ngIf="(advertisement$ | async) as advertisement; else loading">
  <div class="container animated">
    <ul class="advertisement-category">
      <li>
        {{advertisement.category.name}}
      </li>
    </ul>
    <main>
      <div class="advertisement">
        <h2>{{advertisement.content.name}}</h2>
        <div>
          <div class="advertisement-image" [style.background-image]="'url('+advertisement.content.images[selectedImage].url+')'">
            <img alt="Изображение товара" [src]="advertisement.content.images[selectedImage].url">
          </div>
          <div class="img-gallery">
            <div class="img-gallery-wrapper"
                 *ngFor="let image of advertisement.content.images; let i = index"
                 [class.img-selected]="selectedImage === i" (click)="selectImage(i)">
              <img alt="Изображение товара" [src]="image.url">
            </div>
          </div>
        </div>
      </div>
      <div class="advertisement-details">
        <h2>
          {{advertisement.content.price | mask: 'separator': {suffix:' ₽', separatorLimit:'9999999'} }}
        </h2>
        <button class="btn show-number" (click)="showNumber()">
          <img alt="Показать номер" height="22px" width="22px" src="assets/icon/phone.svg">
          Показать номер телефона
        </button>
        <section>
          <h3>Адрес</h3>
          <p class="details">{{advertisement.content.address}}</p>
        </section>
        <section>
          <h3>Описание</h3>
          <p>{{advertisement.content.description}}</p>
        </section>
      </div>
    </main>
  </div>
</ng-container>
<ng-template #loading>
  <p-progressSpinner strokeWidth="3"
                     animationDuration="1s"
                     styleClass="spinner"></p-progressSpinner>
</ng-template>
