.error{
  display: flex;
  flex-direction:column;
  flex:1 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.error-message{
  color:#1E293B;
  line-height:28px;
}

:host ::ng-deep .p-progress-spinner-circle{
  stroke: #3B82F6;
  animation:none;
}

:host ::ng-deep .spinner{
  display: block;
  width: 40px;
  height: 40px;
  top: 36vh;
}

:host ::ng-deep .spinner-small {
  display: block;
  width: 32px;
  height: 32px;
  margin-top:24px;
}
