<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="inputs">
    <div class="input-field">
      <app-phone-input formControlName="phone"></app-phone-input>
      <ng-container *ngIf="loginForm.controls.phone.touched">
        <p class="alert"
           *ngIf="loginForm.controls.phone.errors?.['required']">
          Введите номер телефона
        </p>
        <p class="alert"
           *ngIf="loginForm.controls.phone.errors?.['minlength']">
          Это поле нужно заполнить полностью
        </p>
      </ng-container>
    </div>
    <div class="input-field">
      <input type="password"
             placeholder="Пароль"
             formControlName="password">
      <ng-container *ngIf="loginForm.controls.password.touched">
        <p class="alert"
           *ngIf="loginForm.controls.password.errors?.['required']">
          Введите пароль
        </p>
        <p class="alert"
           *ngIf="loginForm.controls.password.errors?.['minlength']">
          Минимальная длина пароля - 8 символов
        </p>
        <p class="alert"
           *ngIf="loginForm.controls.password.errors?.['maxlength']">
          Максимальная длина пароля - 24 символа
        </p>
      </ng-container>
    </div>
    <div class="form-bottom">
      <a (click)="goToRegister()">Зарегистрироваться</a>
    </div>
  </div>
  <small>
    Демо-аккаунт:
    <br>Телефон:  +71517777777
    <br>Пароль:  password1
  </small>
  <p class="alert submit-alert">{{error}}</p>
  <ng-container *ngIf="!isSubmitting; else loading">
    <button [disabled]="loginForm.invalid" type="submit">Войти</button>
  </ng-container>
  <ng-template #loading>
    <p-progressSpinner strokeWidth="3"
                       animationDuration="1s"
                       styleClass="spinner-small"></p-progressSpinner>
  </ng-template>
</form>
