<form [formGroup]="authForm" (ngSubmit)="submitAuth()">
  <div class="inputs">
    <div class="input-field">
      <input [ngClass]="{'input-alert': authForm.controls.login.invalid && authForm.controls.login.touched}"
             [mask]="'000) 000-00-00'"
             [showMaskTyped]="true"
             prefix="+7("
             placeHolderCharacter="_"
             placeholder="Номер телефона"
             formControlName="login">
      <p *ngIf="authForm.controls.login.invalid && authForm.controls.login.touched" class="alert">Введите номер телефона</p>
    </div>
    <div *ngIf="!isSignIn" class="input-field">
      <input [ngClass]="{'input-alert': authForm.controls.name.invalid && authForm.controls.name.touched}" placeholder="Имя" formControlName="name" required>
      <p *ngIf="authForm.controls.name.invalid &&  authForm.controls.name.touched" class="alert">Введите имя</p>
    </div>
    <div class="input-field">
      <input [ngClass]="{'input-alert': authForm.controls.password.invalid && authForm.controls.password.touched}" type="password" placeholder="Пароль" formControlName="password">
      <p *ngIf="authForm.controls.password.invalid && authForm.controls.password.touched" class="alert">Введите пароль</p>
    </div>
    <div class="form-bottom">
      <a (click)="changeAuthType()">{{isSignIn ? 'Зарегистрироваться' : 'Авторизоваться'}}</a>
    </div>
  </div>
  <button [disabled]="authForm.invalid" type="submit">{{isSignIn ? 'Войти' : 'Зарегистрироваться'}}</button>
</form>

