:host{
  border-bottom: 1px solid #E2E8F0;
}

.search-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px 0;
}

.search-container h2 {
  font-size: clamp(24px, 5vw, 30px);
  margin-right: 24px;
}

.all-categories {
  border: 1px solid #3B82F6;
  background: transparent;
  color: #3B82F6;
  margin-right: 12px;
  height: 36px;
}

.all-categories img {
  margin-right: 8px;
}

.search-box {
  display: flex;
  flex: 1 1 196px;
  height: 36px;
}

.search-box input, button {
  padding: 8px 12px;
}

.search-input {
  flex: 1 1;
  border: 1px solid #CBD5E1;
  border-radius: 4px 0 0 4px;
}

.search-input:focus-visible {
  outline: none;
  border-color: #3B82F6;
}

.search-input::placeholder {
  color: #64748B;
}

.search {
  background:#3B82F6;
  margin-left: -1px;
  border-radius: 0 4px 4px 0;
}

.search:disabled{
  opacity: .6;
}

.search img{
  margin-left: 8px;
}

.categories-overlay{
  display:flex;
  align-items:center;
  justify-content: center;
  position: fixed;
  max-width: 100%;
  padding: 0 12px;
  margin:0;
  inset:0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.categories-tree{
  display:flex;
  flex-direction: column;
  min-width: 186px;
  max-width: 340px;
  width: 100%;
  background: white;
  border-radius: 4px;
  padding:24px;
  border:1px solid #E2E8F0;
}

.categories-close{
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 6px;
  border:none;
  background:white;
  border-radius:50%;
  height:30px;
  width:30px;
  margin-top:-24px;
  margin-left:auto;
  position:relative;
  left:12px;
  top:12px;
  cursor:pointer;
  transition:200ms;
}

.categories-close img{
  height:12px;
}

.categories-close:focus{
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #BFDBFE;
}

.categories-close:hover{
  background:#e9ecef;
}

:host ::ng-deep .p-tree, p-tree{
  padding: 0;
  border: none;
}

:host ::ng-deep p-treeNode .p-treenode-content{
  padding: 0 0 0 4px !important;
}

:host ::ng-deep .p-treenode-label, .pi-chevron-right:before{
  color: #3B82F6;
}

:host ::ng-deep .pi-chevron-right:before{
  font-size: 12px;
}

:host ::ng-deep p-treeNode .p-tree-toggler{
  width: 28px !important;
  height: 28px !important;
  color: #3B82F6 !important;
}

:host ::ng-deep .p-dropdown{
  border-radius: 4px;
}

:host ::ng-deep .p-inputtext{
  padding:6px 8px;
  font-size:15px;
  font-family:"Inter",sans-serif;
}

@media screen and (max-width: 785px) {
  .search-box {
    margin-top: 12px;
  }
}

@media screen and (max-width: 455px){
  .all-categories {
    margin-top: 12px;
  }
}
