<ng-container *ngIf="(advertisements$ | async) as advertisements; else loading">
  <ng-container *ngIf="(categories$ | async) as categories">
    <div class="container animated">
      <h3>Объявления</h3>
      <main>
        <div *ngIf="showFilters" class="advertisements-filters">
          <div class="filters">
            <button class="filters-close" pAutoFocus [autofocus]="true" (click)="showFilters = false">
              <img alt="none" src="assets/close.png">
            </button>
            <h4>Все категории</h4>
            <p-tree
              selectionMode="single"
              [value]="categories"
              (onNodeSelect)="onCategorySelect($event)"
            ></p-tree>
            <h4>Цена</h4>
            <form [formGroup]="priceForm" (ngSubmit)="onSubmit()">
              <div>
                <input class="price-input" placeholder="Цена от" mask="separator" [maxlength]="9"  formControlName="minPrice"/>
                <input class="price-input" placeholder="до, руб." mask="separator" [maxlength]="9" formControlName="maxPrice"/>
              </div>
              <button type="submit" class="submit">Применить фильтры</button>
            </form>
          </div>
        </div>
        <div class="advertisements-results">
          <div class="result-header">
            <p class="result">
              Всего найдено {{ advertisements.length }} объявления(-ий)
            </p>
            <div class="sort">
              <p>Сортировка по</p>
              <p-dropdown
                [options]="sortOptions"
                [editable]="false"
                (onChange)="onSortOptionChange($event)"
                optionLabel="label"
              ></p-dropdown>
              <button type="button" class="btn btn-filters" (click)="toggleFilters()">
                Фильтры
              </button>
            </div>
          </div>
          <ng-container *ngIf="(loading$ | async); else data">
            <p-progressSpinner
              strokeWidth="3"
              animationDuration="1s"
              styleClass="spinner"
            ></p-progressSpinner>
          </ng-container>
          <ng-template #data>
            <ng-container *ngIf="advertisements.length > 0; else noResults">
              <div class="advertisements">
                <advertisement-card
                  *ngFor="let advertisement of advertisements"
                  [advertisement]="advertisement"
                ></advertisement-card>
              </div>
            </ng-container>
          </ng-template>
          <ng-template #noResults>
            <h2>Ничего не найдено по данному запросу</h2>
          </ng-template>
        </div>
      </main>
    </div>

  </ng-container>
</ng-container>
<ng-template #loading>
  <p-progressSpinner
    strokeWidth="3"
    animationDuration="1s"
    styleClass="spinner"
  ></p-progressSpinner>
</ng-template>
