<article class="advertise-card">
  <a [routerLink]="['/advertisements/1']">
    <div class="img-wrapper">
      <img class="card-img"
           [src]="advertisement.image"
           alt="Изображение товара">
    </div>
    <div>
      <div class="card-header">
        <p class="card-title">{{advertisement.name}}</p>
        <p class="card-price">
          <span>20 000</span> ₽
        </p>
      </div>
      <p class="card-info">Москва, Ленинский проспект</p>
      <p class="card-info">
        Сегодня <span>14:12</span>
      </p>
    </div>
  </a>
</article>

