
.advertise-card {
  display: block;
  cursor: pointer;
}

.advertise-card:hover img {
  vertical-align: middle;
  transform: scale(1.1);
}

.img-wrapper {
  display: flex;
  width: 100%;
  max-height: 216px;
  overflow: hidden;
  border-radius: 4px;
}

.card-img {
  height:auto;
  width:100%;
  max-width: 100%;
  aspect-ratio: 1/1;
  border-radius: 4px;
  object-fit: cover;
  transition: 150ms;
}

.card-header p {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  word-break: break-word;
  max-height: 48px;
  overflow: hidden;
}


.card-title {
  margin-top: 8px;
  color: #3B82F6;
}

.card-info {
  font-size: 14px;
  color: #64748B;
  line-height: 20px;
}

@media screen and (max-width: 586px){
  .card-header p {
    font-size: 15px;
  }

  .card-info {
    font-size: 13px;
  }
}
