<article class="advertise-card">
  <a [routerLink]="['/advertisements',advertisement.id]">
    <div class="img-wrapper">
      <img class="card-img"
           [src]="(advertisement.imageUrl && advertisement.imageUrl != 'string') ? advertisement.imageUrl : 'assets/guitar.png'"
           alt="Изображение товара">
    </div>
    <div>
      <div class="card-header">
        <p class="card-title">{{advertisement.name}}</p>
        <p>
          <span>{{advertisement.price}}</span> ₽
        </p>
      </div>
      <p class="card-info">{{advertisement.address}}</p>
      <p class="card-info">
        {{advertisement.createdAt | date:'LLLL dd':'':'ru'|titlecase}},
        <span>в {{advertisement.createdAt | date: 'hh:mm'}}</span>
      </p>
    </div>
  </a>
</article>

