<article class="advertise-card">
  <a [routerLink]="['/advertisements',advertisement.id]">
    <div class="img-wrapper">
      <img class="card-img"
           [src]="advertisement.images[0].url"
           alt="Изображение товара">
    </div>
    <div>
      <div class="card-header">
        <p class="card-title">{{advertisement.name}}</p>
        <p>
          <span>{{advertisement.price | mask: 'separator': {suffix:' ₽', separatorLimit:'9999999'} }}</span>
        </p>
      </div>
      <p class="card-info">{{advertisement.address}}</p>
      <p class="card-info">
        {{advertisement.createdAt | date:'LLLL dd':'':'ru'|titlecase}},
        <span>в {{advertisement.createdAt | date: 'HH:mm'}}</span>
      </p>
    </div>
  </a>
</article>

