<ng-container *ngIf="(advertisements$ | async) as advertisements; else loading">
  <div class="container animated">
    <h3>Мои объявления</h3>
    <div class="advertisements">
      <advertisement-card *ngFor="let advertisement of advertisements"
                          [advertisement]="advertisement">
      </advertisement-card>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <p-progressSpinner strokeWidth="4"
                     animationDuration="4s"
                     styleClass="spinner"></p-progressSpinner>
</ng-template>
