.new-add{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(59, 130, 246, 0.04);;
  border: dashed 3px rgba(59, 130, 246, 0.16);
  border-radius: 4px;
  color: #3B82F6;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 0;
  cursor: pointer;
  transition: 200ms;
}

.new-add:is(:hover, :active){
  background: rgba(59, 130, 246, 0.08);;
}

.new-add img{
  margin-bottom: 24px;
}

@media screen and (max-width: 586px){
  .advertisements {
    grid-template-columns: repeat(auto-fill,minmax(186px,1fr));
  }

  .new-add{
    height: 100%;
  }
}
