<ng-container *ngIf="(response$ | async) as advertisements; else loading">
  <div class="container animated">
    <h3>Мой объявления</h3>
    <div class="advertisements">
      <a routerLink="/advertisements/create" class="new-add">
        <img height="60px" width="60px" alt="Новое объявление" src="assets/icon/new-add.svg">
        Новое объявление
      </a>
      <advertisement-card *ngFor="let advertisement of advertisements"
                          [advertisement]="advertisement">
      </advertisement-card>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <p-progressSpinner strokeWidth="4"
                     animationDuration="4s"
                     styleClass="spinner"></p-progressSpinner>
</ng-template>
