<ng-container *ngIf="(response$ | async)?.data as advertisements">
  <div class="container">
    <h3>Мой объявления</h3>
    <div class="advertisements">
      <a class="new-add">
        <img height="60px" width="60px" alt="Новое объявление" src="assets/icon/new-add.svg">
        Новое объявление
      </a>
      <advertisement-card *ngFor="let advertisement of advertisements"
                          [advertisement]="advertisement">
      </advertisement-card>
    </div>
  </div>
</ng-container>
