html, body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

app-root, app-advertisement-page{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

h3 {
  font-size: clamp(20px, 4vw + 2px, 24px);
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 24px;
}

a{
  text-decoration: none;
  color: currentColor;
}

.btn {
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0 12px;
  transition: 150ms;
}

.btn:is(:hover, :active)
{
  opacity: .85;
}

.container {
  max-width: 1296px;
  padding: 0 12px;
  margin: 0 auto;
}

.advertisements {
  display: grid;
  padding-bottom: 32px;
  gap: 32px 24px;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
}

@media screen and (max-width: 586px){
  .advertisements {
    grid-template-columns: repeat(auto-fill,minmax(176px,1fr));
  }
}
