@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html, body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.ng-invalid.ng-touched:not(form, p-cascadeSelect){
  border:1px solid #EF4444;
}

app-root, app-advertisement-page{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

h3 {
  font-size: clamp(20px, 4vw + 2px, 24px);
  font-weight: 600;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 24px;
}

a{
  text-decoration: none;
  color: currentColor;
}

.btn {
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0 12px;
  transition: 150ms;
}

.btn:is(:hover, :active)
{
  opacity: .85;
}

.container {
  max-width: 1296px;
  padding: 0 12px;
  margin: 0 auto;
}

.animated{
  animation: show 200ms;
}

@keyframes show {
  0%{
    opacity: .7;
    transform: scale(0.95);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

.advertisements {
  display: grid;
  padding-bottom: 32px;
  gap: 32px 24px;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
}

@media screen and (max-width: 586px){
  .advertisements {
    grid-template-columns: repeat(auto-fill,minmax(142px,1fr));
    gap:12px;
  }
}

.overlay{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  width: 100%;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  padding: 0 12px;
  z-index: 1;
}

.app-form{
  max-width: 856px;
}

.form-input{
  display: flex;
  width: 100%;
  max-width: 416px;
  border: 1px solid #CBD5E1;
  border-radius: 4px;
  height: 48px;
  padding: 12px;
  font-size: 16px;
  color: #1E293B;
}

.form-input:focus-visible{
  outline: none;
  border-color: #3B82F6;
}

.input-big{
  max-width: 100%;
}

.form-label{
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #1E293B;
  margin-bottom: 8px;
}

.p-cascadeselect{
  display: flex !important;
  max-width: 416px;
  margin-bottom: 12px;
}

.p-inputtext{
  font-family: 'Inter', sans-serif;
}

.p-dialog-mask{
  padding: 0 12px;
}

@media screen and (max-width: 576px){
  .form-input{
    font-size: 15px;
    padding: 8px 12px;
    height: 40px;
  }

    h3{
      margin: 12px 0;
    }

    .form-input{
      max-width: 100%;
    }

  .p-cascadeselect-label{
    font-size: 15px !important;
  }

  .p-cascadeselect{
    max-width: 100%;
  }
}

.spinner{
  display: block !important;
  width: 40px !important;
  height: 40px !important;
  top: 36vh;
}

.spinner-small{
  display: block !important;
  width: 32px !important;
  height: 32px !important;
  margin-top:24px !important;
}

.p-progress-spinner-circle{
  stroke: #3B82F6 !important;
}

.overlay-content{
  display: flex;
  flex-direction: column;
  max-width: 147px;
  background: white;
  border-radius: 4px;
  transform: translateX(-60px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

@media screen and (max-width: 576px){
  .overlay-content{
    transform:translateX(0);
  }
}

.p-slidemenu-content::-webkit-scrollbar{
  width: 0;
}

.p-tree, p-tree{
  padding: 0 !important;
  border: none;
}

.p-treenode-content{
  padding: 0 0 0 4px !important;

}

.p-treenode-label, .pi-chevron-right:before{
  color: #3B82F6;
}

.pi-chevron-right:before{
  font-size: 12px;
}

.p-tree-toggler{
  width: 32px !important;
  height: 32px !important;
}

.p-cascadeselect-label{
  font-family: "Inter", sans-serif !important;
}

app-advertisements-search .p-inputtext{
  padding:8px !important;
}

.alert{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #EF4444;
  margin-top: 2px;
  margin-bottom: 0;
}
