html, body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height:100%;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.ng-invalid.ng-touched:not(form, p-cascadeSelect, app-address-input, .search-input){
  border:1px solid #EF4444;
}

app-root{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

h3 {
  font-size: clamp(20px, 4vw + 2px, 24px);
  font-weight: 600;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 24px;
}

a{
  text-decoration: none;
  color: currentColor;
}

.btn {
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0 12px;
  transition: 150ms;
}

.btn:is(:hover,:active)
{
  opacity: .85;
}

.container {
  max-width: 1296px;
  padding: 0 12px;
  margin: 0 auto;
}

.animated{
  animation: show 200ms;
}

@keyframes show {
  0%{
    opacity: .7;
    transform: scale(0.95);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

.advertisements {
  display: grid;
  padding-bottom: 32px;
  gap: 32px 24px;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
}

@media screen and (max-width: 576px){
  .advertisements {
    grid-template-columns: repeat(auto-fill,minmax(142px,1fr));
    gap:12px;
  }
}

.app-form{
  max-width: 856px;
}

.form-input{
  display: flex;
  width: 100%;
  max-width: 416px;
  border: 1px solid #CBD5E1;
  border-radius: 4px;
  height: 48px;
  padding: 12px;
  font-size: 16px;
  color: #1E293B;
}

.form-input:is(:focus, :focus-visible){
  outline: none;
  border-color: #3B82F6 !important;
}

.input-big{
  max-width: 100%;
}

.form-label{
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #1E293B;
  margin-bottom: 8px;
}

@media screen and (max-width: 576px){
  .form-input{
    font-size: 15px;
    padding: 8px 12px;
    height: 40px;
    max-width: 100%;
  }

  h3{
      margin: 12px 0;
  }
}

.alert{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #EF4444;
  margin-top: 2px;
  margin-bottom: 0;
}
